<div class="container">
  <div class="block-list">
    {%- for block in section.blocks -%}
      <div class="block-item">
        {%- case block.type -%}
          {%- when 'description-text' -%}
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.description }}</p> 
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
  <ul class="social-media-list">
    <li>insta</li>
    <li>facebo</li>
    <li>Youtube</li>
  </ul>
  <div class="footer-aside"></div>

</div>
<h1>{{ section.settings.copyright }}</h1>
{% schema %}
  {
    "name": "footer",
    "tag": "footer",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "Add some copyright pls"
      }
    ],
    "blocks": [
      {
        "type": "description-text",
        "name": "Description text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "Add a title for god sake !"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "description",
            "default": "Add a description plssss !"
          }
        ]
      }
    ]

  }
{% endschema %}