<h1>{{ section.settings.copyright }}</h1>
{% schema %}
  {
    "name": "footer",
    "tag": "footer",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "Add some copyright pls"
      }
    ],
    "blocks": [
      {
        "type": "description-text",
        "name": "Description text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "Add a title for god sake !"
          },
           {
            "type": "textarea",
            "id": "description",
            "label": "description",
            "default": "Add a description plssss !"
          }
        ]
      }
    ]

  }
{% endschema %}